/* To change tooltip arrow color bootstrep  */
.tooltip-arrow,
.tooltip > .tooltip-inner {
  background-color: #333;
}
.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #333;
}

.modal-body span.badge {
  margin-left: 0.5em;
  font-size: 6pt;
}

#searchbox {
  position: fixed;
  top: 380px;
  left: 50px;
  width: 300px;
  height: 350px;
  z-index: 999;
  background: #c30000;
  color: #fff;
  transition: all 0.3s;
  min-width: 300px;
  max-width: 300px;
  min-height: 350px;
}

#searchbox.active {
  margin-left: -350px;
}

.form-inline {
  text-align:center;
  display:block;
  margin-bottom: 10px;
  padding: 20px 0;
}

.searchbox-header {
  padding: 10px;
}

#searchbox ul.components {
  padding: 10px 0;
}

#searchbox ul p {
  color: #fff;
  padding: 10px;
}

#searchbox ul li a {
  padding: 5px;
  font-size: 1.1em;
  display: block;
  color: #fff;
}

#searchbox ul li a:hover {
  color: #c30000;
  background: #fff;
}

body {
  margin-top: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 70px;
}
table {
  background: none;
}

.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 100vh;
}


div.header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}

#navbar-collapse {
  text-align: left;
}

#sidebar {
  width: 350px;
  position: fixed;
  top: 150px;
  right: 50px;
  height: 590px;
  z-index: 999;
  background: #c30000;
  color: #fff;
  transition: all 0.3s;
  min-width: 350px;
  max-width: 350px;
  min-height: 590px;
}

#sidebar .sidebar-header {
  padding: 10px;
  background: #c30000;
}

#sidebar ul.components {
  padding: 10px 0;
}

#sidebar ul p {
  color: #fff;
  padding: 5px;
  padding-left: 20px;
}

#sidebar ul li a {
  padding: 5px;
  font-size: 2.1em;
  display: block;
  color: #fff;
}
#sidebar ul li a:hover {
  color: #c30000;
  background: #fff;
}

#sidebar.active {
  margin-right: -450px;
}

#filter {
  padding: 7px;
}

#year, #time {
  padding: 0px;
}

#sidebar .form-check-inline  {
  padding: 2px;
  padding-top: 5px;
  font-size: 1.1em;
  color: #fff;
}

#sidebar .reset .form-check-label {
  font-size: 1em;
  color: #fff;
  left: 73%; /*290*/
  right: auto;
  position: relative;
  margin-bottom: 5px;
  padding-right: 24px;
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
}

#sidebar .reset .form-check-input {
  right: 20px;
  padding-right: 24px;
  padding-left: 0;
  padding-top: 5px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 5px;
  margin-top: 5px;
}

#canvas {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 150px;
  display: block;
  text-align: center;
  padding-right: 150px;
}

#canvas.active {
  padding-right: 0;
}

#sidebarCollapse {
  right: 500px;
  position: fixed;
  bottom: 70px;
}

#sidebarCollapse.active {
  right: 100px;
}

#spinner {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: -400px;
}
#spinner {
  background-color: rgba(255,255,255,0.5);
  z-index: 10000;
}
#spinner span {
  font-size: 48pt;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#poster {
  position: absolute;
  top: 150;
  right: 50;
  padding: 5px 10px 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  opacity: 0.8;
}

#tooltip {
  position: absolute;
  top: 150;
  left: 50;
  background-color: black;
  color: #eee;
  padding: 5px 10px 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  opacity: 0.8;
  font-size: 1.1em;
}

svg.main-canvas {
  width: 100%;
  height: 100%;
}
svg.main-canvas .node {
  fill-opacity: 1;
  stroke-width: 0;
  stroke-opacity: 0.5;
}
svg.main-canvas .node.dim {
  fill-opacity: 0.05;
}
svg.main-canvas .node.selected {
  stroke-width: 10;
}
svg.main-canvas .link {
  stroke: #666;
  stroke-opacity: 0.5;
}
svg.main-canvas .link.dim {
  stroke-opacity: 0.05;
}
svg.main-canvas .link.selected {
  stroke-opacity: 1;
}
svg.main-canvas .text {
  fill: #666;
  fill-opacity: 0.8;
}
svg.main-canvas .text.dim {
  fill-opacity: 0.05;
}
